@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body, html {
  background-color: #3A5CCF;
  min-height: 100vh;
  font-family: 'Rubik', sans-serif;
  font-size: 12pt;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

.container-xl {
  margin: 20px auto;
}

/* Grid, Button and Generations Column */
.col-md-6, .col-lg-6 {
  margin: 0 auto;
}

.btn-group {
  width: 100%;
}

.row {
  margin-bottom: 40px;
}

.grid {
  height: 500px;
  width: 500px;
  line-height: 0;
  margin: auto;
  margin: 20px auto;
  box-shadow: 0px 0px 10px #3A3A3B;
}

.cell {
  display: inline-block;
  border: thin solid #292929;
  height: 20px;
  width: 20px;
}

.cell:hover {
  background-color: #00b863;
}

.generation-number {
  text-align: center;
}

button {
  background-color: #6c757d;
  border: none;
  outline: none;
  width: 50%;
  color: white;
  padding: 5px;
}

button.start {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

button.clear {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

button:focus, button:active {
  outline: none;
}

button:hover {
  background-color: #5a6268;
  border-color: #545b62;
}

hr {
  border-top: 1px solid white;
}