@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body, html {
  background-color: #3A5CCF;
  min-height: 100vh;
  font-family: 'Rubik', sans-serif;
  font-size: 12pt;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

.container-xl {
  margin: 20px auto;
}

.col-md-4 {
  border: thin solid white;
}

.btn-group {
  width: 100%;
}

.row {
  margin-bottom: 40px;
}